/* Tailwind CSS is included via CDN, adding custom styles */
body {
    font-family: 'Inter', sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    padding: 8px;
}

thead {
    background-color: #f9fafb;
}

tbody tr:hover {
    background-color: #f3f4f6;
}

@media (max-width: 640px) {
    table {
        display: block;
        overflow-x: auto;
    }

    th,
    td {
        min-width: 100px;
    }
}

@media print {
    body {
        font-size: 14px;
        /* Ajusta o tamanho da fonte para impressão */
        margin: 0;
        padding: 0;
    }

    /* Oculta elementos desnecessários durante a impressão */
    table,
    thead,
    tbody tr:hover,
    button {
        display: none;
    }

    /* Garante que apenas o conteúdo do comprovante seja exibido */
    .print-content {
        display: block !important;
        width: 100%;
        margin: 0;
        padding: 10px;
    }
}